<!DOCTYPE html>
  <html>
    <head>
      <title>Tri | Triangle App</title>
      <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>
      <div class="container">
        <%= yield %>
      </div>
      <br>
      <footer class="footer">
      <div class="container">
        <p class="text-muted">another one by the one and only <a target="_blank" href="http://bigzoo.me">bigzoo</a></p>
      </div>
    </footer>
    </body>
  </html>
