<% if @is_triangle?()%>
  <h1>The values you entered are a valid triangle.</h1>
  Click <a href="/triangle/type">here</a> to determine what type of a triangle it is!
<% else %>
  <h1>The values you entered are not a valid triangle.</h1>
  Click <a href="/">here</a> to set new values!
<%end>
